* {
	margin:0;
	padding:0;
}
body{
    font-family: 'Source Code Pro', monospace;
    padding: 18px;
}

.background{
    background-image: url("../estilos/fundo-galaxy.png");
    background-size: 100%;
}

.contatos a{
    color: white;
    text-decoration: none;
}
.contatos{
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    padding: 18px;
    background-color: #37145fb6;
}

div{
    color: white;
}

.container{
    text-align: center;
    padding: 10px;
}
p#tamanhofonte{
    font-size: 15px;
}
#habilidades{
    border-style: solid;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 18px;
    background-color: #37145fb6;
}
#nomecentro{
    text-align: center;
}

#nomecentro img{
    border: solid 6px black;
    border-radius: 10px;
}

#sobremim{
    border-style: solid;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
    padding: 18px;
    background-color: #37145fb6;
}
#experiencia{
    border-style: solid;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 18px;
    background-color: #37145fb6;
}
#educacao{
    border-style: solid;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 18px;
    background-color: #37145fb6;
}
.main-esquerda{
    margin-left: 300px;
    margin-right: 300px;

}
.main-direita{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 25px;

}

.p-l-20{
    padding-left: 20px;
}

.text-right{
    text-align: left !important;
}
.main-direita a{
    text-decoration: none;
    color: white;
}

.p-b-20{
    padding-bottom: 20px;
}
.moldura{
    border: 3px solid white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 25px;
    background-color: #37145fb6
}
#proj-noticias-cidade:hover{
    background-color: #37145fb6;
}
#proj-museu:hover{
    background-color: #37145fb6;
}
.main-direita h1{
    padding-bottom: 10px;
}

#menu{
    text-align: center;
    margin-top: 20px;
}
#menu a{
    text-decoration: none;
    color: white;
    border: solid;
    border-radius: 15px;
    padding: 8px;
    
}
#menu a:hover{
    background-color: gray;
}

.projeto {
    display: inline-block;
    width: 45%;
}
.projetos {
    width: 100%;
    padding-bottom: 10px;
}

.diplay-flex{
    display: flex;
}

.diplay-inline-block{
    display: inline-block;
}